---
import PageLayout from "@/layouts/Base.astro";
import { getCollection } from "astro:content";
// import TopLayout from "@layouts/TopLayout.astro";
// import BottomLayout from "@layouts/BottomLayout.astro";
const WORK: { DESCRIPTION: string; TITLE: string } = {
	DESCRIPTION: "Places I have worked.",
	TITLE: "Work",
};

const collection = await getCollection("work");

collection.sort(
	(a, b) => new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime(),
);

const work = await Promise.all(
	collection.map(async (item) => {
		const { Content } = await item.render();
		return { ...item, Content };
	}),
);

function formatWorkDate(input: Date | string) {
	if (typeof input === "string") return input;

	const month = input.toLocaleDateString("en-US", {
		month: "short",
	});

	const year = new Date(input).getFullYear();
	const day = new Date(input).getDate();
	const suffix = (day: number) => {
		if (day > 3 && day < 21) return "th";
		switch (day % 10) {
			case 1:
				return "st";
			case 2:
				return "nd";
			case 3:
				return "rd";
			default:
				return "th";
		}
	};

	return `${day}${suffix(day)} ${month} ${year}`;
}
---

<PageLayout meta={{ description: WORK.DESCRIPTION, title: WORK.TITLE }}>
	<!-- <TopLayout>
			<div class='animate page-heading'>
				{WORK.TITLE}
			</div>
		</TopLayout>
		<BottomLayout> -->
	<ul>
		{
			work.map((entry) => (
				<li class="animate mt-4 border-b border-black/10 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none dark:border-white/25">
					<div class="mb-4 text-sm">
						{formatWorkDate(entry.data.startDate)} - {formatWorkDate(entry.data.endDate)}
					</div>
					<a
						class="flex items-center gap-4"
						href={entry.data.companyURL}
						rel="noopener noreferrer"
						target="_blank"
					>
						{entry.data.logo?.src ? (
							<img
								alt={entry.data.company}
								class="w-48 grayscale dark:mix-blend-screen dark:invert"
								src={entry.data.logo?.src}
							/>
						) : (
							<h2 class="mb-2 text-2xl font-semibold text-black dark:text-white">
								{entry.data.company}
							</h2>
						)}
					</a>
					<h4 class="mb-2 text-xl font-semibold">{entry.data.role}</h4>
					<article class="prose dark:prose-invert">
						<entry.Content />
					</article>
				</li>
			))
		}
	</ul>
	<!-- </BottomLayout> -->
</PageLayout>
